NODE_ENV=development
PORT=3000

# MongoDB
MONGO_DATABASE_PRODUCTION=*************
MONGO_DATABASE_LOCAL=mongodb://mongo:27017/natours
MONGO_PASSWORD=*************
MONGO_USE_LOCAL=true
MONGO_URI=mongodb://mongo:27017/natours

# Redis
REDIS_SERVER_URL=redis://redis:6379
REDIS_PRODUCTION_SERVER_URL=redis://redis:6379
REDIS_DELETE_TIME=600000

# JWT
JWT_SECRET=*************************
JWT_EXPIRES=1d
JWT_COOKIE_EXPIRES=1
JWT_ALGORITHM=HS256
JWT_REFRESH_SECRET=********
JWT_REFRESH_EXPIRES=2d
JWT_REFRESH_COOKIE_EXPIRES=2
JWT_REFRESH_ALGORITHM=HS256

# Email
EMAIL_USERNAME=bf7577e60ffb80
EMAIL_PASSWORD=4d6143e4b61e24
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_SENDER=***************

# Twilio
TWILIO_ACCOUNT_SID=******************
TWILIO_AUTH_TOKEN=******************
TWILIO_PHONE_NUMBER=*************

# Admins
ADMINS=[{"_user":"caleb","_pass":"admin"}]

# Images
IMAGE_HEIGHT=500
IMAGE_WIDTH=500
IMAGE_QUALITY=90

# Sendgrid
SENDGRID_USERNAME=
SENDGRID_PASSWORD=

# Stripe
STRIPE_SECRET_KEY=*************************
STRIPE_PUBLISHABLE_KEY=**************

